/* Website styling */
.header {
    display: flex;
    justify-content: space-between; /* Distribute space between the logo and navigation */
    align-items: center; /* Vertically center both the logo and the navigation */
    padding: 10px 20px; /* Adding some padding for spacing */
    position: relative; /* Ensure topnav can be adjusted */
}

/* Logo styling */
.logo {
    width: 250px;  
    height: auto; 
}

/* Top navigation styling */
.topnav {
    display: flex; 
    margin-top: -90px;  /* Move the navigation bar up by reducing the margin */
}

.topnav a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold; /* Make the navigation options bolder */
}

/* Background image styling */
body {
    background-image: url('painter.jpeg');
    background-size: 100% 100%; /* Set the height to 50% and width to 100% of the container */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}
